{% extends "layout.html" %}

{% block page_title %}
  Your GDS service assessment has been requested - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">{% if message %}
          {{message}}
        {% else %}
          Confirm your GDS service assessment request
        {% endif %}</h1>
        <!-- <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p> -->
      </div>
      <p>We have sent you a confirmation email.</p>

      <h2 class="heading-medium">What happens next</h2>
      <p>You need to submit information about your service by {{user_info.briefing_deadline}}. If we haven't received the information by this date we may have to cancel your assessment.</p>

      <p>Submit Service Assessment briefing information by going to: <a href="https://goo.gl/forms/hYf1KVdCh6">https://goo.gl/forms/hYf1KVdCh6</a>.</p>

      <p>Someone from the GDS Standards Assurance team will contact you or your department’s assessment lead. If you need to rearrange your assessment please email dbd-assessments@digital.cabinet-office.gov.uk.</p>

    </div>


    </div>
  </div>
</main>

{% endblock %}
