{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Request your GDS Service Assessment
      </h1>
      <p>
        You can request and select a date for your GDS service assessment.
      </p>

      <p>
        The service assessment will evaluate your service against all 18 points of the <a target="_blank" href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a>.
      </p>

      <p>
        If you are unsure whether your service needs a GDS service assessment, you can check the <a target="_blank" href="https://www.gov.uk/service-manual/service-assessments/check-if-you-need-a-service-assessment">Service Manual</a> for full details. For internal assessments, contact your department’s digital lead or assessment lead. For reassessments or any other request email the <a href="mailto:dbd-assessments@digital.cabinet-office.gov.uk">GDS Assessment Team</a>.
      </p>

      <p>
        <a href="/start" class="button button-start">Start here</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
