{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Get started
      </h1>
      <p>
        This service lets you request a GDS assessment for your service.
      </p>

      <p>
        <a href="/start" class="button button-start">Start here</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
