{% extends "layout.html" %}

{% block page_title %}
  Choose the date for your assessment - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Choose the date for your assessment
      </h1>
      <p>
        GDS service assessments are usually held at Aviation House in London and typically takes 4 hours.
        Service Team should aim to arrive 30 minutes prior to setup.
      </p>
      <form action="summary" method="post">
        <h2 class="heading-medium">Which time slot on {{picked_date}} would you like?</h2>
        <div class="form-group">
            <fieldset class="inline">

              <legend class="visually-hidden">Which time slot on {{picked_date}} would you like?</legend>

              <label class="block-label selection-button-radio" for="radio-inline-1">
                <input id="radio-inline-1" type="radio" name="assessment_time" value="10:00 - 14:00">
                10:00 to 14:00
              </label>
              <label class="block-label selection-button-radio" for="radio-inline-2">
                <input id="radio-inline-2" type="radio" name="assessment_time" value="13:00 - 17:00">
                1PM to 5PM
              </label>

            </fieldset>

          </div>
        <p>
          <a href="#" class="button continue">Save and continue</a>
        </p>
      </form>
    </div>
  </div>
</main>

{% endblock %}
