{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Choose your assessment date
      </h1>
      <p>
        Only available days can be selected. There are no assessments are held on Fridays.
      </p>
      <form action="pick-time" method="post">
        <h2 class="heading-medium">Which date would you like your assessment on?</h2>
        <div class="form-group">
          <legend class="visually-hidden">Which date would you like your assessment on?</legend>
          {% for idx, week in dates %}
            <fieldset>
              <h2 class="heading-small">Week {{idx}}</h2>
              {% for days in week %}
                <label class="block-label selection-button-radio" for="{{idx}}-{{loop.index}}">
                  <input id="{{idx}}-{{loop.index}}" type="radio" name="assessment_date" value="{{days}}">
                  {{days}}
                </label>
              {% endfor %}
            </fieldset>
          {% endfor %}
          </div>
        <p>
          <a href="#" class="button continue">Save and continue</a>
        </p>
      </form>
    </div>
  </div>
</main>

{% endblock %}
