{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Choose the date for your assessment
      </h1>
      <p>
        You can select assessments only from 4 weeks in advance. 
      </p>
      <form>
        <h2 class="heading-medium">Which month would you like to have?</h2>
        <div class="form-group">
            <fieldset>
              <legend class="visually-hidden">Which month would you like to have?</legend>

              <label class="block-label selection-button-radio" for="radio-1">
                <input id="radio-1" type="radio" name="radio-group" value="January">
                January
              </label>
              <label class="block-label selection-button-radio" for="radio-2">
                <input id="radio-2" type="radio" name="radio-group" value="February">
                February
              </label>
              <label class="block-label selection-button-radio" for="radio-3">
                <input id="radio-3" type="radio" name="radio-group" value="March">
                March
              </label>
              <label class="block-label selection-button-radio" for="radio-3">
                <input id="radio-3" type="radio" name="radio-group" value="April">
                April
              </label>

            </fieldset>
          </div>
        <p>
          <a href="/pick-day" class="button">Save and continue</a>
        </p>
      </form>
    </div>
  </div>
</main>

{% endblock %}
