{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Choose the date for your assessment
      </h1>
      <p>
        You can select assessments only from 4 weeks in advance.
      </p>
      <form action="pick-day" method="post">
        <h2 class="heading-medium">Which month would you like to have?</h2>
        <div class="form-group">
            <fieldset>
              <legend class="visually-hidden">Which month would you like to have?</legend>
              {% for month in months %}
                <label class="block-label selection-button-radio" for="radio-{{loop.index}}">
                  <input id="radio-{{loop.index}}" type="radio" name="assessment_month" value="{{month}}">
                  {{month}}
                </label>
              {% else %}
                <p>you will need to start again... there has been a problem</p>
              {% endfor %}
            </fieldset>
          </div>
        <p>
          <a href="#" class="button continue">Save and continue</a>
        </p>
      </form>
    </div>
  </div>
</main>

{% endblock %}
