{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Choose the date for your assessment
      </h1>
      <p>
        You can select assessments only from 4 weeks in advance.
      </p>
      <form>
        <h2 class="heading-medium">Which day in <em>March</em> would you like to have?</h2>
        <div class="form-group">
            <fieldset>
              <legend class="visually-hidden">Which day in March would you like to have?</legend>

              <h2 class="heading-small">Week 1</h2>
              <label class="block-label selection-button-radio" for="radio-0">
                <input id="radio-0" type="radio" name="radio-group" value="01/03/2016">
                Mon 27 Feb
              </label>
              <label class="block-label selection-button-radio" for="radio-02">
                <input id="radio-02" type="radio" name="radio-group" value="02/03/2016">
                Tue 28 Feb
              </label>
              <label class="block-label selection-button-radio" for="radio-1">
                <input id="radio-1" type="radio" name="radio-group" value="01/03/2016">
                Wed 1 Mar
              </label>
              <label class="block-label selection-button-radio" for="radio-2">
                <input id="radio-2" type="radio" name="radio-group" value="02/03/2016">
                Thu 2 Mar
              </label>
              <label class="block-label selection-button-radio" for="radio-3">
                <input id="radio-3" type="radio" name="radio-group" value="03/03/2016">
                Fri 3 Mar
              </label>
            </fieldset>
            <fieldset>
              <h2 class="heading-small">Week 2</h2>
              <label class="block-label selection-button-radio" for="radio-4">
                <input id="radio-4" type="radio" name="radio-group" value="06/03/2016">
                Mon 6 Mar
              </label>
              <label class="block-label selection-button-radio" for="radio-5">
                <input id="radio-5" type="radio" name="radio-group" value="07/03/2016">
                Tue 7 Mar
              </label>
              <label class="block-label selection-button-radio" for="radio-6">
                <input id="radio-6" type="radio" name="radio-group" value="08/03/2016">
                Wed 8 Mar
              </label>
              <label class="block-label selection-button-radio" for="radio-7">
                <input id="radio-7" type="radio" name="radio-group" value="09/03/2016">
                Thu 9 Mar
              </label>
              <label class="block-label selection-button-radio" for="radio-8">
                <input id="radio-8" type="radio" name="radio-group" value="10/03/2016">
                Fri 10 Mar
              </label>

            </fieldset>
          </div>
        <p>
          <a href="/pick-day" class="button">Save and continue</a>
        </p>
      </form>
    </div>
  </div>
</main>

{% endblock %}
