{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Choose your assessment date
      </h1>
      <p>
        Dates are only available from 4 weeks in advance. This gives GDS sufficient time to allocated and schedule the appropriate assessors to your assessment panel.
      </p>
      <form action="pick-day" method="post">
        <h2 class="heading-medium">Which month would you like your assessment in?</h2>
        <div class="form-group">
            <fieldset>
              <legend class="visually-hidden">Which month would you like your assessment in?</legend>
              {% for month in months %}
                <label class="block-label selection-button-radio" for="radio-{{loop.index}}">
                  <input id="radio-{{loop.index}}" type="radio" name="assessment_month" value="{{month}}">
                  {{month}}
                </label>
              {% else %}
                <p><a href="/">you will need to start again</a>... there has been a problem</p>
              {% endfor %}
            </fieldset>
          </div>
        <p>
          <a href="#" class="button continue">Save and continue</a>
        </p>
      </form>
    </div>
  </div>
</main>

{% endblock %}
